{% extends 'base.html' %}
{% block content %}

    <!-- details section -->
    <section id="recipe-details">
        <h1>Recipe Details</h1>
        <div class="info-section">
            <div class="recipe-header">
                <!-- recipe image -->
                <!-- if there is no image url provided, display the default recipe image -->
                {% if object.im %}
                    <img
                            class="recipe-img"
                            src="{{ object.image_url }}"
                            alt="recipe image"
                    />
                {% else %}
                    <img
                            class="recipe-img"
                            src="https://cdn.pixabay.com/photo/2016/12/27/21/22/salad-1934944_1280.jpg"
                            alt="recipe image"
                    />
                {% endif %}

                <!-- recipe title -->
                <h1>{{ object.title }}</h1>
                <!-- recipe cuisine type -->
                <p><span class="description-recipe">Cuisine Type: {{ object.cuisine_type }}</span></p>
                <!-- recipe cooking time -->
                <p><span class="description-recipe">Cooking Time: {{ object.cooking_time }}.</span></p>
                <!-- recipe ingredients -->
                <div class="ingredients">
                    <p><span class="description-recipe">Ingredients:</span></p>
                    <ul>
                        {% for line in object.ingredients %}
                            <li>line</li>
                        {% endfor %}
                    </ul>
                </div>
                <p>
              <span class="description-recipe"
              >Instructions: {{ object.instructions }}.</span
              >
                </p>
            </div>

            <!-- Edit/Delete buttons -->
            <div class="buttons">
                <a href="{% url 'recipe edit page' pk=object.pk %}" class="edit-button">Edit</a>
                <a href="{% url 'recipe delete page' pk=object.pk %}" class="delete-button">Delete</a>
            </div>
        </div>
    </section>

{% endblock %}