{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Edit Page-->
<section class="editPage">
    <form method="post" action="{% url 'delete album page' pk %}">
        <fieldset>
            <legend>Delete Album</legend>
            <div class="container">
                {{ form.as_p }}
                {% csrf_token %}
                <!-- Button for Deleting an Album -->
                <button class="delete-album" type="submit">Delete Album</button>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}